body {
    background-color: #f5f5f5;
    color: #333;
}

.navbar-brand {}

.navbar-brand img {
    width: 200px;
}

.navbar {
    color: #fff;
    background-color: #04A699;
    width: auto;
    height: 200px;
    z-index: 0;
}

.navbar .float-right {
    margin-top: 8px;
    background-color: #fff;
    padding: 8px 24px 8px 10px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.float-right dl,
.float-right embed {
    display: inline-block;
}

.float-right embed {

    margin: 0 8px 0 0;
    vertical-align: middle;
}

.float-right dl {
    font-size: 14px;
    color: #222;
    line-height: 16px;
    vertical-align: top;
    margin-top: 4px;
}

.float-right dt {
    font-size: 40px;
}

.wrapper {
    width: 800px;
    margin: 0 auto;
}

.navbar .wrapper {
    margin-top: -80px;
}

.box-shadow {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin-bottom: 50px;
}

.container {
    position: relative;
    z-index: 2;
}

.img-panel,
.icon-panel,
.form-group,
.row,
.alert {
    margin: 0;
}

.img-panel {
    margin-top: -80px;
    min-height: 480px;
}

.img-panel img {
    max-width: 760px;
    min-width: 140px;
    border-radius: 5px;

}

.img-panel .form-group {
    margin: 10px auto;
}

.icon-panel {
    padding: 20px 0;
    border-top: 1px solid #eee;

}

.form-group {
    padding: 10px 20px;
}

.btn-download:hover dl {
    color: #04A699;
}
